{erl_opts, []}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cbeam]}
]}.
{escript_name, cbeam}.
{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"_build/default/bin/cbeam\" ./cbeam"},
              {"win32",
               escriptize,
               "robocopy \"_build/default/bin/\" ./ cbeam* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.